h1 {
    font-size: 20px;

}
.fundovermelho {
    background-color: #066;
}

#descritivo {
    font-weight: bold;
    color: aliceblue;
    font-size: small;   
    font-style: italic;
}

#borderimg3 {
border: 10px solid transparent;
padding: 15px;
border-image: url(borboleta_Borda.png) round;
border-image-slice: 11%;
}
