* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilo da parte de cima */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: rgb(0, 0, 0);
}

/* Cria 2 colunas */
nav {
  float: left;
  width: 30%;
  background: rgb(0, 0, 0);
  padding: 20px;
}

/*Estilo da lista dentro do menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #2b2727;
}

/* Limpa os elementos em cima*/
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Interface responsiva, faz 2 tabelas, colunas*/
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}